<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="styles/index.css" />
	<link rel="stylesheet" type="text/css" href="styles/font.css" />
	<style type="text/css">
		.table-bordered th,
		.table-bordered td {
			border-color: #88a7d9 !important;
		}
	</style>
	<title>Save the Boats</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="">Boat Repair LLC</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Add Repair</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/list">Fixed Boat List</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/join">Add Technician</a>
				</li>
                <li class="nav-item active">
					<a class="nav-link" href="/guide">Guide</a>
				</li>
                <li class="nav-item">
					<a class="nav-link" href="/leaderboard">Leaderboard</a>
				</li>
			</ul>
		</div>
	</nav>
	<br /><br />
    
    <div class="w-75 justify-content-center" style="margin: 0 auto;">
        <h2>Welcome to Boat Repair LLC!</h2>
        <hr />
        <h3>We repair civilian boats at half the cost!</h3>


        
    </div>
	<br /><br /><br /><br /><br /><br />
	<script type="text/javascript" src="scripts/jquery-3.3.1.slim.min.js"></script>
	<script type="text/javascript" src="scripts/popper.min.js"></script>
	<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="scripts/sharedUtils.js"></script>
</body>
</html>